.loadMore {
  appearance: none;
  width: 100%;
  line-height: 26px;
  // margin-top: 13px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
  border: none;
  background-color: #d7e0f9;
  color: #000000;
  font-family: 'Sarabun';
    padding-bottom: 5px;
  &:focus {
    outline: none;
  }
}
