@import './breakpoints.scss';
@import './font-size.scss';

.loadMore {
  appearance: none;
  width: 100%;
  line-height: 26px;
  // margin-top: 13px;
  @include font-size(14);
  font-weight: 600;
  margin: 0 auto;
  border: none;
  background-color: #d7e0f9;
  color: #000000;
  font-family: 'Sarabun';
  padding-bottom: 5px;

  &:focus {
    outline: none;
  }
}

.concert {
  max-width: 390px;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 #696a88;
  cursor: pointer;
  @include breakpoint(768px) {
    width: calc(33.3333% - 6.66667px);
    max-width: 250px;
    min-height: 76px;
    line-height: 75px;
    background-color: #d7e0f9;
    margin: 0 auto 19px;
    text-align: center;
    border: 1px solid white;
  }

}

.cursor {
  cursor: pointer;
}
