@import './breakpoints.scss';
@import './font-size.scss';

.test {
  display: none;
}

.concertResults {
  // color: red;
  // width: 91%;
  // margin: 0 auto;
  // max-height: 100vh;
  // overflow-x: auto;
  // overflow-y: auto;
  width: 90%;
  margin: 30px auto 0;
  text-align: left;
  padding-bottom: 25px;
  display: block;
  max-width: 900px;
  // border-top: 1px solid black;
  @include breakpoint(768px) {
    // color: blue;
    display: flex;
    flex: 1;
    margin-top: 75px;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  

}

.individualConcert {
  //   color: red;
  // width: 80%;
  margin: 25px auto 0;
  display: block;
}

.showConcertButton {
  display: none;
  display: block;
}

.hide {
  display: none;
}

.leftArrow,
.rightArrow {
  width: 38px;
  position: absolute;
  z-index: 1;
  top: -34px;
  cursor: pointer;
  @include breakpoint(768px) {
    top: 9px;
  }
}

.rightArrow {
  top: -66px;
}

.leftArrow,
.rightArrow {
  left: 2%;
  @include breakpoint(777px) {
    left: 25px;
  }
}

.recordHolder {
  width: 100%;
  position: relative;
  height: 100vh;
}

.record {
  width: 150px;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 3s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .concertResults {
//   &::-webkit-scrollbar {
//     -webkit-appearance: none;
//   }

//   &::-webkit-scrollbar:vertical {
//     width: 9px;
//   }

//   &::-webkit-scrollbar:horizontal {
//     height: 5px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #94adde;
//     // border-radius: 10px;
//     border: 1px solid #ffffff;
//     // border-left: none;
//   }

//   &::-webkit-scrollbar-track {
//     border: 1px solid #ffffff;
//     background-color: #dde1ff;
//   }
// }
.homeContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
