@import './breakpoints.scss';

.test {
  display: none;
}

.concertResults {
  color: red;
  width: 80%;
  margin: 0 auto;
  max-height: 600px;
  overflow-x: auto;
  overflow-y: auto;
  @include breakpoint(768px) {
    // color: blue;
  }
}

.individualConcert {
//   color: red;
  width: 80%;
  margin: 0 auto;
}

.showConcertButton {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
.leftArrow, .rightArrow {
    width: 30px;
}
.leftArrow {
    float: left;
}
.rightArrow {
    float: right;
}