.leftArrow,
.rightArrow {
  // width: 15px;
  font-size: 15px;
  float: right;
  line-height: 26px;

  margin-top: 24px;
  margin-right: 10%;
}

.leftArrow {
  float: right;

  // &:after {
  //   content: url(../../images/arrow_up.svg);
  //   position: absolute;
  //   // top: -2px;
  // }
}

.rightArrow {

  // &:after {
  //   content: url(../../images/arrow_down.svg);
  //   position: absolute;
  //   // top: -2px;
  // }
}

.meta {
  width: 80%;
  margin: 0 auto;

  p {
    margin: 0;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
  }
}

.loader {
  top: 50%;
  width: 127px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}
