.leftArrow,
.rightArrow {
  width: 15px;
}

.leftArrow {
  float: right;
}

.rightArrow {
  float: right;
}
.meta {
  p {
      margin: 0;
      text-align: left;
      font-size: 15px;
      margin-top: 5px;
  }
}