@import './breakpoints.scss';
@import './font-size.scss';

.leftArrow,
.rightArrow {
  // width: 15px;
  @include font-size(15);
  float: right;
  line-height: 26px;

  margin-top: 24px;
  margin-right: 6%;
}

.leftArrow {
  float: right;

  // &:after {
  //   content: url(../../images/arrow_up.svg);
  //   position: absolute;
  //   // top: -2px;
  // }
}

// .rightArrow {

//   // &:after {
//   //   content: url(../../images/arrow_down.svg);
//   //   position: absolute;
//   //   // top: -2px;
//   // }
// }

.meta {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
  font-weight: 600;

  p {
    margin: 0;
    text-align: left;
    @include font-size(15);
    margin-top: 5px;
    @include breakpoint(768px) {
      text-align: center;
    }
  }
}

.loader {
  top: 50%;
  width: 127px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.loadingHolder {
  width: 100%;
  height: 100vh;
  background-color: #94adde;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.playListSwitch {
  display: inline;
  float: right;
  margin-right: 5%;
  margin-top: 6px;

  span {
    @include font-size(15);
    font-family: 'Sarabun';
    font-weight: 400;
  }
}

.active {
  font-weight: 800 !important;
}

.mainContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
