@import './breakpoints.scss';

.player {
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  // background-image: linear-gradient(to right bottom, #c0e8f5, #a1ade2, #a2c1e8, #7fb0d0, #c0e8f5);
  background-image: linear-gradient(to right bottom, #c0e8f5, #a1ade2, #a2c1e8, #a1ade2, #c0e8f5);

  audio {
    width: 100%;
    height: 100%;
    max-height: 40px;
  }

  textarea {
    height: 200px;
  }
}

.pause,
.play {
  cursor: pointer;
  margin-top: 11px;
  margin-left: 3%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.play {
  height: 17px;
  width: auto;
  transition: all .3s ease-in-out;

  &:hover {
    filter: brightness(0) invert(1);
  }
}

.pause {
  height: 17px;
  width: auto;
  transition: all .3s ease-in-out;

  &:hover {
    filter: brightness(0) invert(1);
  }

}

.fastForward,
.fastRewind {
  height: 17px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    filter: brightness(0) invert(1);
  }
}

.fastForward {
  margin-left: 20px;
}

.forwardBackHolder {
  margin-top: 11px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.audioWave {
  height: auto;
  width: 25px;
  margin-top: 7px;
}

.closeVis {
  height: auto;
  width: 16px;
  margin-top: 6px;
}

.visToggle {
  margin-top: 7px;
  margin-left: 35px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: inline-block;
  background-image: url("../../images/audio-wave.svg");
  background-size: cover;
  transition: all .3s ease-in-out;

  &:hover {
    filter: brightness(0) invert(1);
  }

  &.visClose {
    background-image: url("../../images/times-solid.svg");
    height: 21px;
    width: 15px;
  }
}

.customControls {
  display: flex;
  flex-direction: row;
  width: 93%;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  @include breakpoint(400px) {
    width: 93.9%;
  }
}
