.player {
  // position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  background-color: #eeeeee;
  // position: relative;
  border: 1px solid black;

  audio {
    width: 100%;
    height: 100%;
    max-height: 40px;

  }

  textarea {
    height: 200px;
  }
}

.pause,
.play {

  cursor: pointer;
  // float: left;
  // margin-left: 2%;
  margin-top: 11px;
  margin-left: 3%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.play {
  height: 20px;
  width: auto;
}

.pause {
  height: 20px;
  width: auto;

}

.fastForward,
.fastRewind {
  height: 20px;
  width: auto;
  display: inline-block;
  cursor: pointer;
}

.fastForward {
  // background-image: url("../../images/fast-forward.svg");
  margin-left: 20px;
}

.fastRewind {
  // background-image: url("../../images/fast-rewind.svg");
}

.forwardBackHolder {
  // float: right;
  // float: right;
  // margin-right: 3%;
  margin-top: 11px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.audioWave {
  height: auto;
  width: 25px;
  margin-top: 7px;
}

.closeVis {
  height: auto;
  width: 16px;
  margin-top: 6px;
}

.visToggle {
  margin: 7px 20% 0 33%;
  height: 23px;
  width: 23px;
  display: inline-block;
  background-image: url("../../images/audio-wave.svg");
  background-size: cover;

  &.visClose {
    background-image: url("../../images/times-solid.svg");
    height: 27px;
    width: 19px;
  }
}

.customControls {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
