.playList {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 35px;

  h3 {
    font-size: 23px;
  }

  span {
    font-size: 16px;
    max-width: 195px;
    display: inline-block;
    // word-break: break-all;
    // line-height: 22px;
  }

  .playHolder {
    background-color: #eee;
    border: 1px solid black;
    // line-height: 35px;
    padding: 10px;
    position: relative;
  }

  .remove {

    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 18px;

  }
}

.maxHeightHolder {
  max-height: 40vh;
  overflow-y: auto;
  min-height: calc(63vh - 109px);
  // border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
}
