@import './font-size.scss';

.progressBarHolder {
  //   position: absolute;
  //   bottom: 10px;
  //   width: 100%;
  margin-top: 8px;

  .currentTime {
    display: block;
    @include font-size(12);
    float: left;
    padding: 6px 0 0 4%;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .totalTime {
    display: block;
    float: right;
    @include font-size(12);
    padding: 6px 4% 0 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

progress[value] {

  appearance: none;

  border: none;

  //   width: 90%;
  height: 15px;
  width: 94%;
  display: block;
  margin: auto;
  color: blue;
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(137, 137, 213);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}

progress[value]::-webkit-progress-value {
  background-color: #dde1ff;
  // background-image: -webkit-linear-gradient(top, rgba(210, 175, 175, 0.25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #cecece, rgba(102, 115, 125, 0.632));
  // background-image: linear-gradient(to right, #58b2ad, #29a3b7, #0892be, #367ebc, #6066ae);
  // background: repeating-linear-gradient( 45deg, #dde1ff, #dde1ff 10px, #94adde 10px, #94adde 20px );
  background: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #9fb6e1, #e1e5fe);
  border-radius: 2px;
  //   background-size: 35px 20px, 100% 100%, 100% 100%;
}
