@import './breakpoints.scss';

#dropDown {
  margin-top: 26px;
  text-align: right;

  select {
    appearance: none;
    border: none;
    background: url("../../images/arrow_down.svg") 98% / 25px no-repeat #d8dbff;
    display: block;
    margin: 9px auto;
    width: 90%;
    border-radius: 0;
    line-height: 32px;
    color: #2c2252;
    font-weight: bold;
    padding-left: 15px;
    font-family: 'Sarabun';
    font-weight: 700;
    border: 1px solid white;
    font-size: 13px;

  }

  select::-ms-expand {
    display: none;
  }

}

.selectHolder {
  position: relative;
  padding-top: 11px;
  max-width: 362px;
  margin: 0 auto;
  @include breakpoint(768px) {
    max-width: 440px;
  }
  span {
    font-family: 'Sarabun';
    font-weight: 800;
    font-size: 14px;
    display: inline-block;
    color: #c11717;
    //   margin-bottom: -26px;
  }

  .choices {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    span {
      color: black;

    }
  }

  button {
    appearance: none;
    // float: right;
    margin-right: 5%;
    border: 1px solid white;
    line-height: 27px;
    font-family: 'Sarabun';
    font-weight: 700;
    padding-bottom: 3px;
    width: 21%;
    background-color: #d8dbff;
    color: #2c2252;
    font-size: 13px;
  }
}
