@import './font-size.scss';

.checkMark {
  // display: inline;
  width: 13px;
  padding-right: 2px;
  // padding-right: 7px;
  // vertical-align: text-top;
}

.plus {
  width: 20px;
  // display: inline-block;
  vertical-align: text-bottom;
  // padding-right: 7px;
}

.trackList {
  // color: blue;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 35px;
  //   border-bottom: 1px solid black;
  // max-height: 100vh;
  // overflow-x: auto;
  // overflow-y: auto;
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 9px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #94adde;
    // border-radius: 10px;
    border: 1px solid #ffffff;
    border-left: none;
  }

  ::-webkit-scrollbar-track {
    // border-radius: 10px;
    background-color: #dde1ff;
  }

  h3 {
    @include font-size(23);
    display: inline-block;
    margin: 0;
    padding-bottom: 17px;
    font-family: 'Sarabun';
    font-weight: 600;
  }

  span {
    // font-size: 14px;
    @include font-size(16);
    max-width: 195px;
    display: inline-block;
    // word-break: break-all;
    // line-height: 22px;
  }

  .trackHolder {
    background-color: #dde1ff;
    border: 1px solid white;
    position: relative;
    color: #2c2252;
    letter-spacing: .8px;

  }

  .trackPadding {
    padding: 7px 10px;
  }

  .addPlayList {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.maxHeightHolder {
  max-height: 40vh;
  overflow-y: auto;
  min-height: calc(63vh - 109px);
  //   border-top: 1px solid black;

  border-left: none;
}
