.svgHolder {
  // background: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #9fb6e1, #e1e5fe);
  display: block;
  height: 150px;
  opacity: 1;

  svg {
    width: 100%;
    height: 100%;
  }

  &.hide {
    display: none;
    height: 0;
    opacity: 0;
  }
}

// rect {
//   fill: #94adde;
// }
